* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 10px;
}
.card,
.hero {
  width: 100%;
  text-align: center;
  background-color: #fff0ea;
  padding: 1em;
}
.hero {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* text-align: left; */
  margin-top: 1em;
}

.hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.hero_content_circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  border: 1px solid #fff;
  display: grid;
  place-content: center;
}
.circle-white {
  background-color: #ffffff;
}
.circle-transparent {
  background-color: transparent;
}
.img_circle {
  width: 38px;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.card_title {
  padding: 0 2em;
  color: #ff8b60;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-style: italic;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.card_button {
  background-color: #f06f37;
  color: #ffffff;
  font-style: italic;
  text-transform: uppercase;
  padding: 10px 18px;
  font-weight: bold;
}
.options_title {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer {
  width: 200px;
  margin: 1em auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
